[alias]
	ec = commit --allow-empty -m
	cm = commit -m
	sconf = config --system
	gconf = config --global
	lconf = config --local
	again = commit -C HEAD --amend --no-edit
	rollback = reset --hard
	push-skip = push -o ci.skip
	pfush = push --force-with-lease
	s = status
  p = push
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[user]
  name = Marvin Haase
  email = contact@marfien.dev
[includeIf "hasconfig:remote.*.url:https://*.soptim.net/*/**"]
  path = ~/.gitconfig.soptim.inc
[includeIf "hasconfig:remote.*.url:git@*.soptim.net:*/**"]
  path = ~/.gitconfig.soptim.inc

