<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docker-desktop" />
  <package id="headlamp" />
  <package id="nerd-fonts-Meslo" />
  <package id="spotify" />
  <package id="googlechrome" />
  <package id="jetbrainstoolbox" />
  <package id="powertoys" />
  <package id="discord" />
  <package id="anki" />
  <package id="autohotkey" />
  <!-- <package id="wezterm" /> -->
  <package id="sioyek" />
</packages>
